<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>NodeJS Chat</title>
</head>
<body>

<div id="app">

    <div class="chat">

        <div class="chat-users collection">
            <li v-for="value in user" class="my-card valign-wrapper">
                <img class="responsive-img round" src="http://sw-tech.by/images/m_logo.png">
                {{value}}
            </li>
            <li
                    class="collection-item valign-wrapper"
                    v-for="u in users"
                    :class="{'invisible': u.id === user.id}"
            >
                {{u.name}}
            </li>

        </div>

        <div class="chat-messages" ref="messages">
            <chat-message
                    v-for="(m, idx) in messages"
                    :message="m"
                    :user="user"
                    :key="idx"
            ></chat-message>
        </div>
    </div>
    <div class="actions">
        <div class="input-field">
            <input
                    type="text"
                    placeholder="Type your message..."
                    v-model.trim="message"
                    autofocus
                    autocomplete="false"
                    @keydown.enter="sendMessage"
            >
        </div>
        <button
                class="btn right"
                @click="sendMessage"
                :disabled="message.length === 0"
        >Send</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="app.js"></script>

</body>

</html>