html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.auth {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.auth .card {
    width: 400px;
}

.chat {
    display: flex;
    height: 70vh;
    width: 100%;
}

.chat-users {
    width: 300px;
    border: 1px solid #e0e0e0;
    margin: 0;
}

.collection .collection-item.active img,
.collection .collection-item img{
    height: 20px;
    width: 40px;
    margin-right: 10%;
}

.actions {
    border: 1px solid #e0e0e0;
    height: 30vh;
    padding: 20px;
}

.chat-messages {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
}

.message {
    display: flex;
}

.message-content {
    border-radius: 3px;
    padding: 6px 9px;
    font-size: 14px;
    margin-bottom: 10px;
    max-width: 250px;
}

.message.owner {
    justify-content: flex-end;
}

.message.owner .message-content {
    color: #fff;
    background: #26a69a;
}

.invisible {
    display: none;
}

.my-card {
    list-style-type: none;
    height: 13vh;
    font-size: 20px;
    background: #26a69a;
    color: white;
}
.my-card img{
    height: 40px;
    width: 60px;
    margin-right: 5%;
}

.my-card:nth-child(n+2) {
    display: none;
}